.page-footer
{
    padding: 1rem 2rem;
    border-top: var(--border-light);
}

.page-footer,
.footer-section nav
{
    display: flex;
    justify-content: space-between;
}

.footer-section,
.footer-section div
{
    display: flex;
    flex-direction: column;
}

/* .footer-section
{
    align-items: center;
} */

.footer-section div
{
    padding: 1rem 0;
}

.footer-section nav a
{
    padding-bottom: 1rem;
}

.footer-section *
{
    font-size: 1.5rem;
}
