.page-heading
{
    display: flex;
    align-items: center;
    /* justify-content: space-evenly; */
    gap: 2rem;
    height: 10rem;
    padding: 1rem 2rem;
    border-bottom: var(--border);
}

.page-heading h2
{
    font-size: 6rem;
}

.page-heading h2 a:hover
{
    text-decoration: none;
}

.page-heading,
.page-heading nav
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.page-heading nav
{
    gap: 2rem;
    font-size: 3rem;
}

.page-heading .search-bar input
{
    width: 80rem;
    font-size: 2rem;
}
