#home
{
    background-image: url("/Images/banner-home.png");
    background-size: cover;
    background-repeat: no-repeat;
}

#home .content
{
    flex-direction: column;
    justify-content: space-evenly;
    height: 50%;
    width: 80%;
    background-color: light-dark(var(--color-primary-light), var(--color-primary-dark));
    padding: 4rem;
    border-radius: 2rem;
}

#banner
{
    height: calc(100vh - 10rem);
    width: 50%;
    text-align: center;
}

#banner .content-body
{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.page-section
{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    padding: 8rem 4rem;
}

.page-section:nth-of-type(even)
{
    background-color: light-dark(rgba(0,0,0,0.05), rgba(255,255,255,0.05));
}

.page-section .content
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1200px;
}

.page-section .text-content
{
    flex: 1;
}

.image-content
{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex: 1;
    gap: 5rem;
}

.image-content img
{
    height: 40%;
    border-radius: 2rem;
}

.page-section h2
{
    font-size: 4rem;
    margin-bottom: 2rem;
}

.page-section p
{
    font-size: 1.8rem;
    line-height: 1.6;
}
