#login .content
{
    width: 50%;
    border: var(--border);
    border-radius: 2rem;
}

#login .content-body,
#login .content-footer
{
    display: flex;
    flex-direction: column;
}

#login .content-body
{
    width: 80%;
}

#login .row
{
    width: 90%;
    margin: auto;
}

#login .row input
{
    width: 100%;
}

#login .content-footer p,
#login .content-footer a
{
    font-size: 1.5rem;
}
