main
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* height: calc(100vh - 10rem); */
}

.content
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
    margin: 5rem auto;
}

.content-header
{
    font-size: 5rem;
    padding: 2rem;
}

.content-body *,
.content-footer *
{
    font-size: 2rem;
}

.fieldset
{
    display: flex;
    flex-direction: column;
}

.row
{
    display: flex;
}

input::placeholder,
textarea::placeholder
{
    font-size: 1.5rem;
    font-weight: normal;
}

legend,
.primary,
.secondary:hover
{
    background-color: light-dark(var(--color-primary-dark), var(--color-primary-light));
    color: light-dark(var(--text-primary-dark), var(--text-primary-light));
}

.primary:hover,
.secondary
{
    background-color: light-dark(var(--color-primary-light), var(--color-primary-dark));
    color: light-dark(var(--text-primary-light), var(--text-primary-dark));
}
