#register
{
    height: 50%;
}

#register .content
{
    width: 50%;
    border: var(--border);
    border-radius: 2rem;
}

#register .content-body
{
    width: 80%;
}

#register .row input, textarea
{
    width: 100%;
}

#register .content-footer
{
    display: flex;
    flex-direction: column;
}

#register .content-footer p,
#register .content-footer a
{
    font-size: 1.5rem;
}

#register textarea
{
    resize: none;
}
