<article class="content">
    <h1 class="content-header">All Articles</h1>
    
    <% if (typeof articles !== 'undefined' && articles.length > 0) { %>
        <div class="content-body">
            <% articles.forEach(article => { %>
                <!-- 4. Include Article partial for each article -->
                <%- include("./components/article", {article: article}) %>
                <hr>
            <% }) %>
        </div>
    <% } else { %>
        <p class="content-body">There are no articles to display at the moment.</p>
    <% } %>
</article>
