<footer class="page-footer">
    <div class="footer-section"></div>
    <div class="footer-section">
        <h3>Links</h3>
        <nav>
            <div class="">
                <a href="/">Home</a>
                <a href="/article/search">Articles</a>
                <a href="/article/guides">Guides</a>
                <a href="/article/paths">Pathways</a>
            </div>
            <div>
                <a href="">Terms and conditions</a>
                <a href="">Privacy policy</a>
            </div>
        </nav>
    </div>
    <div class="footer-section">
        <h3>Contacts</h3>
        <address>
            <div>
                <p>Office: </p>
            </div>
            <div>
                <p>Email: </p>
                <p><a href="mailto:prabhanshuchaturvedi0@gmail.com">prabhanshuchaturvedi0@gmail.com</a></p>
            </div>
            <div>
                <p>Phone: </p>
                <p><a href="tel:+919407123426">+91 9407 1234 26</a></p>
            </div>
        </address>
    </div>
</footer>
