<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%- include("../../components/css") %>

    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">

    <title>Sahayogi: Registration</title>
</head>
<body>
    <%- include("../../components/header") %>

    <main id="register">
        <%- include("../../components/user/registration") %>
    </main>
    
    <%- include("../../components/footer") %>
</body>
</html>
