<header class="page-heading">
    <h2>Sahayogi</h2>
    <nav class="navigation">
        <a href="/">Home</a>
        <a href="/article/search">Articles</a>
        <a href="/article/guides">Guides</a>
        <a href="/article/paths">Pathways</a>
        <a href="/user/login">Get Started</a>
    </nav>
</header>
