<article class="content">
    <header class="content-header">
        <h2>Sahayogi</h2>
    </header>
    
    <div class="content-body">
        <p>
            An application for providing standardized how-to guides for common languages and frameworks. These are referenced directly from official documentations.
        </p>
        <p>
            Create, edit and share your own guides.
        </p>
    </div>
</article>
