<article class="content">
    <header class="content-header">
        <h1>Create a New Article</h1>
    </header>
    
    <form action="/article" method="POST" class="content-body">
        <div class="row">
            <label for="heading">Title</label>
        </div>
        <div class="row">
            <input type="text" id="heading" name="heading" required>
        </div>
        <div class="row">
            <label for="body">Content</label>
        </div>
        <div class="row">
            <textarea id="body" name="body" rows="10" required></textarea>
        </div>
        <div class="row">
            <label for="tags">Tags</label>
        </div>
        <div class="row">
            <input type="text" id="tags" name="tags" placeholder="comma, separated, tags" required>
        </div>

        <div class="row">
            <button type="submit">Publish Article</button>
        </div>
    </form>

    <footer class="content-footer"></footer>
</article>
